<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather Info</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet/style.css">
  </head>

  <body>
    <div class="weather-block">
      <h1>Today's weather info</h1>

      <div class="sub-block">
        <% weather.map((w)=> { %>
          <% const {firstName, lastName, address, age, id, weight, ssn, ein, company}=w %>
            <div class="first-block">
              <h2>
                <%= firstName + ' ' + lastName %>
              </h2>
              <p>
                Location: <%= address.city + ', ' + address.state %>
              </p>
              <p>
                Latitude: <%= address.coordinates.lat %> || Longitude: <%= address.coordinates.lng %>
              </p>
            </div>

            <div class="second-block">
              <h3>Current Time</h3>
              <ul>
                <li>
                  Temperature: <%= id %>
                </li>
                <li>
                  Wind Speed: <%= age %>
                </li>
                <li>
                  Wind Direction: <%= weight %>
                </li>
              </ul>
            </div>

            <div class="third-block">
              <h3>Hourly Forecast</h3>

              <p>
                <%= company.department + ", " + company.name + ", " + company.title %>
              </p>
            </div>

            <% }) %>
      </div>

      <button onclick="document.location='/'" type="button" title="Get weather">Search again</button>
    </div>

    <script src="" async defer></script>
  </body>

</html>